body{
	font-family: 'Montserrat', sans-serif;;
}

header{
	background: #1B143D;
	padding: 20px 0;
}

.cabecalho{
	position: relative;
	width: 90%;
	margin: 0 auto;
}

.logo-head{
	width: 100px;
}

li .menu{
	font-size: 15px;
}

nav{
	position: absolute;
	top: 30%;
	right: 0;
}

nav li{
	display: inline;
	margin: 0 0 0 40px;
}

nav a{
	text-transform: uppercase;
	color: #FFFFFF;
	font-size: 20px;
	text-decoration: none;
}

nav a:hover{
	color: #0077A1;
}

.banner-inicial{
	display: inline-block;
	position: relative;
}

.banner-inicial h2{
	position: absolute;
	top: 150px;
	left: 20px;
	font-size: 40px;
	color: #1B143D;
}

.banner-inicial h3{
	position: absolute;
	top: 200px;
	left: 20px;
	font-size: 40px;
	color: #0077A1;
}

.banner-inicial p{
	position: absolute;
	top: 250px;
	left: 20px;
	font-size: 20px;
	text-transform: uppercase;
	color: #1B143D;
}

.imgcards{
	width: 100%;
}


#titulo-beneficios{
	display: inline-block;
	width: 20%;
	font-size: 40px;
	margin: 40px 0 0 20px;
	font-weight: bolder;
	line-height: 1.2em;
	color: #1B143D;
}

#beneficio1{
	display: inline-block;
	box-sizing: border-box;
	border: 2px solid #0077A1;
	border-radius: 10px;
	text-align: center;
	vertical-align: top;
	margin: 40px 0 0 140px;
	padding: 30px 15px;
	width: 200px;
	height: 200px;
}

#beneficio1 h3{
	font-size: 18px;
	font-weight: bold;
	padding: 10px;
	color: #1B143D;
}

#beneficio1 p{
	color: #1B143D;
}

#beneficio2{
	display: inline-block;
	box-sizing: border-box;
	border: 2px solid #0077A1;
	border-radius: 10px;
	text-align: center;
	vertical-align: top;
	margin: 40px 0 0 40px;
	padding: 30px 15px;
	width: 200px;
	height: 200px;
}

#beneficio2 h3{
	font-size: 18px;
	font-weight: bold;
	padding: 10px;
	color: #1B143D;
}

#beneficio2 p{
	color: #1B143D;
}

#beneficio3{
	display: inline-block;
	box-sizing: border-box;
	border: 2px solid #0077A1;
	border-radius: 10px;
	text-align: center;
	vertical-align: top;
	margin: 40px 0 0 40px;
	padding: 30px 15px;
	width: 200px;
	height: 200px;
}

#beneficio3 h3{
	font-size: 18px;
	font-weight: bold;
	padding: 10px;
	color: #1B143D;
}

#beneficio3 p{
	color: #1B143D;
}

#beneficio4{
	display: inline-block;
	box-sizing: border-box;
	border: 2px solid #0077A1;
	border-radius: 10px;
	text-align: center;
	vertical-align: top;
	margin: 40px 0 0 40px;
	padding: 30px 15px;
	width: 200px;
	height: 200px;
}

#beneficio4 h3{
	font-size: 18px;
	font-weight: bold;
	padding: 10px;
	color: #1B143D;
}

#beneficio4 p{
	color: #1B143D;
}
.imagem-app{
	width: 45%;
	float: left;
}

.aplicativo h2{
	float: right;
	text-align: right;
	width: 30%;
	font-size: 40px;
	font-weight: bolder;
	line-height: 1.2em;
	color: #1B143D;
	margin: 40px 20px 20px 0;
}

.aplicativo h3{
	float: right;
	text-align: right;
	margin: 10px 20px 20px 0;
	color: #1B143D;
	width: 40%;
}

.aplicativo p{
	float: right;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	margin: 10px 20px 0 0;
	color: #1B143D;
	width: 20%;
	box-sizing: border-box;
	border: 3px solid #C6E644;
	border-radius: 10px;
	padding: 10px;
	transition: 0.9ms;
}

.aplicativo p:hover{
	float: right;
	text-align: center;
	font-size: 23px;
	font-weight: bold;
	margin: 10px 20px 0 0;
	color: #C6E644;
	width: 20%;
	box-sizing: border-box;
	border: 3px solid #C6E644;
	border-radius: 10px;
	padding: 10px;
}
