body{
	font-family: 'Montserrat', sans-serif;;
}

header{
	background: #1B143D;
	padding: 20px 0;
}

.cabecalho{
	position: relative;
	width: 90%;
	margin: 0 auto;
}

.logo-head{
	width: 100px;
}

li .menu{
	font-size: 15px;
}

nav{
	position: absolute;
	top: 30%;
	right: 0;
}

nav li{
	display: inline;
	margin: 0 0 0 40px;
}

nav a{
	text-transform: uppercase;
	color: #FFFFFF;
	font-size: 20px;
	text-decoration: none;
}

nav a:hover{
	color: #0077A1;
}

.banner-inicial{
	display: inline-block;
	position: relative;
}

.banner-inicial h2{
	position: absolute;
	top: 150px;
	left: 20px;
	font-size: 40px;
	color: #1B143D;
}

.banner-inicial h3{
	position: absolute;
	top: 200px;
	left: 20px;
	font-size: 40px;
	color: #0077A1;
}

.banner-inicial p{
	position: absolute;
	top: 250px;
	left: 20px;
	font-size: 20px;
	text-transform: uppercase;
	color: #1B143D;
}

.imgcards{
	width: 100%;
}


#titulo-beneficios{
	display: inline-block;
	width: 20%;
	font-size: 40px;
	margin: 40px 0 0 20px;
	font-weight: bolder;
	line-height: 1.2em;
	color: #1B143D;
}

#beneficio1{
	display: inline-block;
	box-sizing: border-box;
	border: 2px solid #0077A1;
	border-radius: 10px;
	text-align: center;
	vertical-align: top;
	margin: 40px 0 0 140px;
	padding: 30px 15px;
	width: 200px;
	height: 200px;
}

#beneficio1 h3{
	font-size: 18px;
	font-weight: bold;
	padding: 10px;
	color: #1B143D;
}

#beneficio1 p{
	color: #1B143D;
}

#beneficio2{
	display: inline-block;
	box-sizing: border-box;
	border: 2px solid #0077A1;
	border-radius: 10px;
	text-align: center;
	vertical-align: top;
	margin: 40px 0 0 40px;
	padding: 30px 15px;
	width: 200px;
	height: 200px;
}

#beneficio2 h3{
	font-size: 18px;
	font-weight: bold;
	padding: 10px;
	color: #1B143D;
}

#beneficio2 p{
	color: #1B143D;
}

#beneficio3{
	display: inline-block;
	box-sizing: border-box;
	border: 2px solid #0077A1;
	border-radius: 10px;
	text-align: center;
	vertical-align: top;
	margin: 40px 0 0 40px;
	padding: 30px 15px;
	width: 200px;
	height: 200px;
}

#beneficio3 h3{
	font-size: 18px;
	font-weight: bold;
	padding: 10px;
	color: #1B143D;
}

#beneficio3 p{
	color: #1B143D;
}

#beneficio4{
	display: inline-block;
	box-sizing: border-box;
	border: 2px solid #0077A1;
	border-radius: 10px;
	text-align: center;
	vertical-align: top;
	margin: 40px 0 0 40px;
	padding: 30px 15px;
	width: 200px;
	height: 200px;
}

#beneficio4 h3{
	font-size: 18px;
	font-weight: bold;
	padding: 10px;
	color: #1B143D;
}

#beneficio4 p{
	color: #1B143D;
}
.aplicativo{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.imagem-app{
	width: 45%;
}

.descricao{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.aplicativo h2{
	text-align: right;
	width: 50%;
	font-size: 40px;
	font-weight: bolder;
	line-height: 1.2em;
	color: #1B143D;
	margin: 20px 30px 20px 0;
}


.descricao h3{
	width: 60%;
	text-align: right;
	margin: 0 30px 20px 0;
	color: #1B143D;
}

.descricao h4{
	margin: 0 30px 20px 0;
	font-size: 20px;
	color: #0077A1;
	font-weight: bold;
}

.stores{
	display: flex;
	justify-content: flex-end;
	margin: 0 30px 20px 0;
}

.apple{
	text-align: center;
	color: #1B143D;
	box-sizing: border-box;
	border: 2px solid #C6E644;
	border-radius: 10px;
	text-align: center;
	vertical-align: top;
	padding: 15px;
	width: 200px;
	height: 80px;
	margin: 0 15px 0 0;
}

.google{
	text-align: center;
	color: #1B143D;
	box-sizing: border-box;
	border: 2px solid #C6E644;
	border-radius: 10px;
	text-align: center;
	vertical-align: top;
	padding: 15px;
	width: 200px;
	height: 80px;
}

.apple:hover{
	border: 2px solid #1B143D;
}

.google:hover{
	border: 2px solid #1B143D;
}

footer{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: #C6E644;
}

.imgfooter{
	width: 15%;
}

footer p{
	margin: 20px;
	color: #1B143D;
}

footer p:hover{
	font-weight: bold;
}
